:host {
	width: 100%;
}

mat-accordion > :first-child {
	margin-top: 80px;
}

mat-expansion-panel {
	margin: 10px 20px;
}
mat-expansion-panel-header {
	height: fit-content;
}

mat-panel-title {
	display: flex;
	align-items: center;
}

h3 {
	margin: 0;
	opacity: 1;
	transition: opacity 0.4s linear;
}

mat-icon {
	padding-right: 20px;
}

.mat-expanded h3 {
	opacity: 0;
}

@media only screen and (max-width: 600px) {
	mat-accordion > :first-child {
		margin-top: 65px;
	}
}
