<mat-dialog-actions class="top">
  <button *ngIf="!isPasswordReset" mat-button mat-dialog-title (click)="changeType('login')">Iniciar sesión</button>
  <button *ngIf="!isPasswordReset" mat-button mat-dialog-title (click)="changeType('signup')">Registrarse</button>
  <button *ngIf="isPasswordReset" mat-icon-button mat-dialog-title (click)="changeType('login')">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span class="spacer"></span>
  <h2 *ngIf="isPasswordReset" mat-dialog-title style="margin-left: 50px; margin-right: 50px;">Cambiar contraseña</h2>
  <span class="spacer"></span>
  <button mat-icon-button mat-dialog-title (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>

    <mat-form-field [color]="email?.valid ? 'accent' : 'warn'">
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="off"
      />
      <mat-error *ngIf="email?.invalid && email?.dirty">
        Introduce un email válido
      </mat-error>
    </mat-form-field>

    <mat-form-field [color]="password?.valid ? 'accent' : 'warn'" *ngIf="!isPasswordReset">
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        placeholder="Password"
        autocomplete="off"
      >
      <button
        mat-icon-button matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password?.invalid && password?.dirty">
        Password debe tener al menos 6 caracteres
      </mat-error>
    </mat-form-field>

    <mat-form-field
      [color]="passwordDoesMatch ? 'accent' : 'warn'"
      *ngIf="isSignup"
    >
      <input
        matInput
        formControlName="passwordConfirm"
        [type]="hide ? 'password' : 'text'"
        placeholder="Confirmar password"
        autocomplete="off"
      />
      <button
        mat-icon-button matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordConfirm?.dirty && !passwordDoesMatch">
        Password no coincide
      </mat-error>
    </mat-form-field>

    <mat-error class="server-error">{{ serverMessage }}</mat-error>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button
      *ngIf="isPasswordReset"
      mat-stroked-button
      type="submit"
      [disabled]="loading"
    >
      Enviar email de recuperación
    </button>
    <button
      *ngIf="!isPasswordReset"
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="form.invalid || !passwordDoesMatch || loading"
    >
      Entrar
    </button>
    <span class="spacer"></span>
    <button
      mat-button
      *ngIf="isLogin && !isPasswordReset"
      (click)="changeType('reset')"
    >
      ¿Has olvidado la contraseña?
    </button>
  </mat-dialog-actions>
</form>
