mat-card {
	padding: 0px;
}

mat-expansion-panel-header {
	padding: 25px;

	&[aria-disabled='true'] {
		color: inherit !important;
	}
}

button {
	transform: translateY(60px);
	mat-card-title {
		margin: 0;
	}
}

h3 {
	margin: 0;
}

mat-card-title {
	margin: 0;
	font-size: 1em !important;
	line-height: 1em;
}

mat-card-subtitle {
	margin: 0;
	font-size: 0.75em !important;
	line-height: 1em;
}

.logo {
	background-size: cover;
	border-radius: 0 !important;
}

.logo-light {
	background-image: url('/assets/logo/logo-light.svg');
}

.logo-dark {
	background-image: url('/assets/logo/logo-dark.svg');
}

.comingSoon {
	box-shadow: 0px 0px 20px -1px rgba($color: #000000, $alpha: 0.5);
	padding: 0 16px;
	border-radius: 4px;
	text-align: center;
	width: 100%;
	transform: rotate(-25deg);
	mat-card-title {
		margin: 0;
	}
}

.center-content {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.course-img {
	height: 200px;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.course-title {
	position: absolute;
	top: 0;
	left: 5px;
}

.cap {
	position: absolute;
	top: 0;
	right: 5px;
}

.tag {
	background: #eee;
	border-radius: 3px;
	color: #777;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 20px 0 23px;
	position: relative;
	margin: 0;
	text-decoration: none;
}

