<a (click)="toggleTheme()" [style.background-color]="theme != 'dark' ? '#87CEEB' : '#4D46BE'">
    <div class="circle moon-out animate__animated"
        [ngClass]="theme != 'dark' ? 'animate__bounceOut' : 'animate__bounceIn'"
        [style.visibility]="theme != 'dark'? 'hidden': 'visible'">
        <div class="circle moon-in">
            <fa-icon [icon]="moon"></fa-icon>
        </div>
    </div>
    <div class="circle sun-out animate__animated"
        [ngClass]="theme == 'dark' ? 'animate__bounceOut' : 'animate__bounceIn'"
        [style.visibility]="theme == 'dark' ? 'hidden': 'visible'">
        <div class="circle sun-in"></div>
    </div>
</a>