* {
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  background-color: black;
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  list-style-type: none;
  margin-right: 16px;

  
}

a {
  color: white;
  text-decoration: none;
  transition: background-color .5s;
}

a:hover {
  color: cyan;
}

.link-sucess {
  color: green;
}
