<div class="content">
	<div
		fxLayout="row wrap"
		fxLayoutAlign="center center"
		fxLayoutGap="16px grid"
	>
		<div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex="50%">
			<mat-card class="mat-elevation-z4">
				<img
					mat-card-image
					src="/assets/bg/1.png"
					alt="Membership photo"
				/>
				<mat-card-header>
					<div mat-card-avatar class="logo logo-light light"></div>
					<div mat-card-avatar class="logo logo-dark dark"></div>
					<mat-card-title>Gracias por unirte</mat-card-title>
					<mat-card-subtitle>Basic membership</mat-card-subtitle>
				</mat-card-header>
				<mat-card-actions>
					<button
						mat-raised-button
						color="primary"
						routerLink="/courses"
					>
						Empezar
					</button>
				</mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>
