@import '../app/app.component.theme';
@import '../app/core/layout/components/login/login.component.theme';
@import '../app/features/courses/components/course-card/course-card.component.theme';
@import '../app/features/courses/components/course-index/course-index.component.theme';
@import '../app/features/guest/guest.component.theme';
@import '~@angular/material/theming';
@import 'dark-theme';
@import 'light-theme';

@mixin native-element-theme($theme, $name) {
	$accent: map-get($theme, accent);
	$primary: map-get($theme, primary);
	$foreground: map-get($theme, foreground);

	section {
		margin: 0px;
	}

	a,
	a:active,
	a:focus,
	a:visited {
		color: mat-color($accent, A400);
		text-decoration: none;
	}
	a:hover {
		// filter: brightness(50%);
		cursor: pointer;
	}

	blockquote {
		background: mat-color($primary, 300, 0.14);
		border-left: 4px solid mat-color($accent);
		border-radius: 4px;
		color: soften-color(mat-color($foreground, base), 40%);
		margin: 20px 0;
		padding: 1px 20px;
		p {
			margin: 10px;
		}
	}

	p {
		// margin: 10px;
		color: mat-color($foreground, text);
	}

	.markdown {
		max-width: 75ch;
		margin: 0 auto;

		h1 {
			font-size: 40px;
			font-weight: bold;
			padding: 40px;
			display: table;
			margin: 0 auto;
		}
		hr {
			margin: 50px auto;
		}
		img {
			display: table;
			margin: 30px auto;

			border-radius: 8px;
			// h v blur spreed
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
		}
		.hljs-ln-numbers {
			border-right: 1px solid;
			padding: 0 5px;
		}

		table td {
			padding: 0 1em;
			line-height: 1.2em;
		}

		.hljs.has-highlights tr:not(.highlight-line) {
			opacity: 0.4;
		}

		pre > code {
			margin: 0px 20px;
			display: block;
			padding: 10px;
			border-radius: 8px;
			overflow: auto;
			max-height: 400px;
			word-wrap: normal;
			background-color: #3f3f3f !important;
		}
		// inline `code`
		code:not([class*='language-']) {
			background: mat-color($primary, 300, 0.14);
			border-radius: 3px;
			font-size: 0.94em;
			padding: 0px 6px 2px;
		}
	}
	/*
 * custom button colors
 */

	.angular {
		background-color: #db0b37 !important;
		border-color: rgba(0, 0, 0, 0.12) !important;
	}
	.react {
		background-color: #67dbf9 !important;
		border-color: rgba(0, 0, 0, 0.12) !important;
	}
	.vue {
		background-color: #47b784 !important;
		border-color: rgba(0, 0, 0, 0.12) !important;
	}
	.flutter {
		background-color: #4ed2fb !important;
		border-color: rgba(0, 0, 0, 0.12) !important;
	}
	.angular-color {
		color: #db0b37 !important;
	}
	.react-color {
		color: #67dbf9 !important;
	}
	.vue-color {
		color: #47b784 !important;
	}
	.flutter-color {
		color: #4ed2fb !important;
	}
}

%blackThemeFile {
	@import 'reveal.js/theme/source/black.scss';
}
%lightThemeFile {
	@import 'reveal.js/theme/source/white.scss';
}

@mixin course-content-component-theme($theme) {
	$is-dark: map-get($theme, is-dark);

	@if $is-dark {
		@extend %blackThemeFile;
	} @else {
		@extend %lightThemeFile;
	}
}

@mixin theme($theme, $name) {
	.#{$name}-theme {
		@include angular-material-theme($theme);
		@include native-element-theme($theme, $name);
		@include app-component-theme($theme);
		@include guest-component-theme($theme);
		@include login-component-theme($theme);
		@include course-index-component-theme($theme);
		@include course-content-component-theme($theme);
		@include course-card-component-theme($theme);
	}
}

/*
 	display-4	.mat-display-4	Large, one-off header, usually at the top of the page (e.g. a hero header).
	display-3	.mat-display-3	Large, one-off header, usually at the top of the page (e.g. a hero header).
	display-2	.mat-display-2	Large, one-off header, usually at the top of the page (e.g. a hero header).
	display-1	.mat-display-1	Large, one-off header, usually at the top of the page (e.g. a hero header).
	headline	.mat-h1, .mat-headline	Section heading corresponding to the <h1> tag.
	title	.mat-h2, .mat-title	Section heading corresponding to the <h2> tag.
	subheading-2	.mat-h3, .mat-subheading-2	Section heading corresponding to the <h3> tag.
	subheading-1	.mat-h4, .mat-subheading-1	Section heading corresponding to the <h4> tag.
	body-1	.mat-body, .mat-body-1	Base body text.
	body-2	.mat-body-strong, .mat-body-2	Bolder body text.
	caption	.mat-small, .mat-caption	Smaller body and hint text.
	button	None. Used only in components.	Buttons and anchors.
	input	None. Used only in components.	Form input fields.
 */

@mixin material-core() {
	// https://material.angular.io/guide/typography
	$custom-typography: mat-typography-config(
		$font-family: 'Poppins, sans-serif',
		$headline: mat-typography-level(2.5rem, 3rem, 900),
		$title: mat-typography-level(1.5rem, 2rem, 900),
		$subheading-2: mat-typography-level(1.2rem, 2rem, 900),
		$subheading-1: mat-typography-level(1.1rem, 2rem, 900),
		$body-1: mat-typography-level(1rem, 2.5rem, 400),
		$button: mat-typography-level(1rem, 2.5rem, 400)
	);
	// body {
	// 	font-family: $font-family;
	// 	font-size: 16px;
	// 	font-weight: lighter;
	// 	line-height: 30px;
	// }
	@include mat-core($custom-typography);
}

@include material-core();
@include theme($light-theme, 'light');
@include theme($dark-theme, 'dark');
